<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carbon Credit Certificate</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
      <div class="flex justify-center items-center">
        <div class="w-full max-w-md rounded-lg shadow-lg bg-green-500 p-8">
          <div
            class="flex justify-between items-center mb-4 border-b border-gray-200"
          >
            <h1 class="text-3xl font-bold text-white">
              Carbon Credit Certificate
            </h1>
            <img
              src="https://via.placeholder.com/150"
              alt="Company Logo"
              class="h-12 w-auto"
            />
          </div>
          <div class="py-4">
            <p class="text-gray-200 text-lg">This certificate confirms that</p>
            <p class="text-white font-semibold text-3xl">
              (A) 10 carbon credits
            </p>
            <p class="text-gray-200 text-lg">
              equivalent to (B) 10 metric tonnes of CO<sub>2</sub>e
            </p>
            <p class="text-gray-200 text-lg">
              have been purchased and are being retired to support the
            </p>
            <p class="text-white font-semibold text-3xl">
              (C) Rimba Raya Biodiversity Reserve, Indonesia Project
            </p>
          </div>
          <div class="grid grid-cols-2 gap-4 pt-4 border-t border-gray-200">
            <p class="text-gray-200 text-lg">
              (E) Verra-Verified Carbon Standard (VCS) project ID 674
            </p>
            <p class="text-gray-200 text-right text-lg">(F) On behalf of</p>
            <p class="text-white font-semibold text-lg">
              (G) Sold by EVERGREEN CARBON
            </p>
            <p class="text-white font-semibold text-right text-lg">
              (H) Purchased on January 01, 2022
            </p>
          </div>
          <div class="pt-4">
            <p class="text-gray-200 text-lg">
              (J) Serial numbers purchased
              7627-414665824-VCU-016-MER-ID-14-674-01072014-31122014-1 to
              7627-414665833-VCU-016-MER-ID-14-674-01072014-31122014-1
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
